<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>체크인샵 - 전자명부</title>
</head>
<body>
<form class="login-form" action="signup" method="post">
    <div class="login-inform">
        <input class="input-text input-id" type="id" name="id" id="id" placeholder="아이디" required/>
        <input class="input-text input-pw" type="password" name="password" id="password" placeholder="비밀번호" required/>
        <input class="input-text input-id" type="text" name="name" id="name" placeholder="이름" required/>
        <input class="input-text input-id" type="text" name="gender" id="gender" placeholder="성별" required/>
        <input class="input-text input-id" type="text" name="phone" id="phone" placeholder="전화번호" required/>
    </div>
    <div class="login-button">
        <input class="fill-button" type="submit" value="회원가입" />
    </div>
</form>
</body>
</html>